.title {
    color: #000;
}
.container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    
    width: 70%;
    height: 40%;
}
.input-form-group{
    display: flex;
    align-items: center;
    margin: 4% auto;
    flex-direction: column;
    margin: 0px 300px;
}
label{
    width: 200px;
}
input{
    background: #F0E8EA;
    margin: 10px 0;
    padding-left: 20px;
    border: none;
    border-bottom: 3px solid #FF0066;
    width: 303px;
    height: 29px;
}
.btn-primary {
    border: none;
    background: #FF0066;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    width: 187px;
    height: 29px;
    margin-top: 50px;
}